.ui-content-layout {
  display: flex;
  flex-direction: column;
  gap: var(--lemn-space-5);

  width: 100%;
  min-height: 100%;
  max-width: var(--lemn-content-max);
  margin: 0 auto;
  padding: var(--lemn-space-5);

  background: var(--lemn-color-surface);
}

.ui-content-layout[data-bleed="true"] {
  max-width: none;
  padding: 0;
  background: none;
}
