.ui-agent-text-block {
  display: grid;
  gap: var(--lemn-space-2);
  width: 100%;
  color: var(--lemn-color-text);
  font-size: var(--lemn-font-size-small);
}

.ui-agent-text-block__entry {
  font-size: inherit;
}

.ui-agent-text-block__entry ul {
  padding-left: var(--lemn-space-8);
}
